/* footer */
#footer		{  clear:both; background:#8e8e8e; color: #FFF; margin-top: 100px;}
#footer p	{ margin:0;padding:5px 10px }

/*board form*/
input[name=title] { width:60%; }
textarea[name=content] { width:60%; height: 70%; resize:none; }
a.del	{
	display:block;
	width:20px;
	height:20px; 
	background:url("/roxxy/assets/images/recycle.png") no-repeat 0 0;
	font-size:0;
}